  - name: Execute the command in remote shell;
    ansible.builtin.shell: curl -sL https://rpm.nodesource.com/setup_lts.x | bash

  - name: Install Nodejs File
    ansible.builtin.yum:
      name: nodejs
      state: installed

  - name: Application prereq
    ansible.builtin.import_tasks: appprereq.yml

  - name: Install Nodejs files package.
    ansible.builtin.shell: npm install
    args:
      chdir: /app

  - name: schema_setup
    ansible.builtin.import_tasks: mongo_schema.yml
    when: schema is defined

  - name: SystemD
    ansible.builtin.import_tasks: systemd.yml


